.bg-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.bg-container .bg {
    margin: 50px 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
