<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        />
        <title><%- title %></title>

        <link rel="apple-touch-icon" href="assets/icons/apple-icon-180.png" />

        <meta name="apple-mobile-web-app-capable" content="yes" />

        <link
            rel="icon"
            type="image/png"
            href="/sipster/assets/icons/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/sipster/assets/icons/favicon.svg" />
        <link rel="shortcut icon" href="/sipster/assets/icons/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/sipster/assets/icons/apple-touch-icon.png"
        />
        <meta name="apple-mobile-web-app-title" content="Sipster" />
        <link rel="manifest" href="/sipster/assets/icons/site.webmanifest" />
    </head>
    <body>
        <div id="root"></div>
        <%- injectScript %>
    </body>
</html>
