.glass-container {
    background: url('assets/glass-empty.png') no-repeat;
    width: 120px;
    height: 141px;
    border: none;
    cursor: pointer;
    position: relative;
}

.glass-container img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.glass-container img.glass-fill {
    top: 32px;
    left: 10px;
}
